{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">

            {% include "sidebar.html" %}

            <div class="col-md-9">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-3">
                        <li class="breadcrumb-item active" aria-current="page">Bem-vindo, {{user_data.username}}!</li>
                    </ol>
                </nav>

                <p class="h3 text-muted"><small>Matrículas</small></p>

                {% if user_data.classes_student %}
                <ul class="list-group mt-3">
                    {% for class in user_data.classes_student %}
                        <a href={{"/class?class_id=" + class.class_id}} class="list-group-item list-group-item-action">{{class.class_name}}</a>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Você ainda não participa de nenhuma disciplina.</p> 
                {% endif %}
                <hr>

                <p class="h3 text-muted"><small>Suas Turmas</small></p>

                {% if user_data.classes_professor %}
                <ul class="list-group mt-3">
                    {%for class in user_data.classes_professor%}
                        <a href={{"/class?class_id=" + class.class_id}} class="list-group-item list-group-item-action">{{class.class_name}}</a>
                    {%endfor%}
                </ul>
                {% else %}
                    <p>Você ainda não é professor de nenhuma turma.</p>
                {% endif %}
                <hr>

                
            </div>
        </div>
    </div>
{% endblock %}
