<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classio</title>
</head>
<body>
    <h2>Classio</h2>
    <p>Você está logado, {{user_data.name}}</p>

    <h3>Suas Turmas</h3>
    <ul>
        {%for class in user_data.classes_professor%}
            <li><a href={{"/class?class_id=" + class.class_id}}>{{class.name}}</a></li>
        {%endfor%}
    </ul>

    <h3>Turmas Como Convidado</h3>
    <ul>
        {%for class in user_data.classes_student%}
            <li><a href={{"/class?class_id=" + class.class_id}}>{{class.name}}</a></li>
        {%endfor%}
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>