{% extends "base.jinja" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.jinja" %}
            
            <div class="col-md-9">
                <h2>{{ lesson.title }}</h2>
                <h6><a href = {{"/class/edit?class_id=" ~ lesson.class_.class_id}}>{{ lesson.class_.class_name }}</a></h6>
                <p class="lead">{{ lesson.description }}</p>

                <h4 class="mt-4">Minhas Perguntas</h4>
                {% if lesson.questions %}
                <ul class="list-group mt-3">
                    {%for question in lesson.questions %}
                        <p>{{question.title}}</p>
                        <span>{{question.description}}</span>
                        <span>repostas:</span>
                        <div>
                            {% for answer in question.answers %}
                                <br>
                                <p>{{answer.answer}}</p>
                            {%endfor%}
                        </div>
                        <hr>
                        {# <a href="/home" class="list-group-item list-group-item-action"></a> #}
                    {%endfor%}
                </ul>
                {% else %}
                    <p>Você ainda não perguntou nada à turma nesta aula.</p>
                {% endif %}

                <div class="container mt-4 gx-0">
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                            Perguntar 
                        </button>
                    </p>
                    <div style="min-height: 120px;">
                      <div class="collapse" id="collapseWidthExample">
                      <form action={{ "/lesson/add_question?lesson_id=" ~ lesson.lesson_id }} id="classJoinForm" method="post">
                          <label class="form-label" for="question_body">Envie uma pergunta à sua turma.</label>
                          
                          <input class="form-control" type="text" id="question_title" name="question_title" required>
                          
                          <div class="col-10 col-md-6 mb-4">
                              <textarea class="form-control" id="question_body" name="question_body" rows="5" required></textarea>
                          </div>
                          <button class="btn btn-secondary" type="submit">Submeter</button>
                      </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
