<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{lesson_data.title}}</title>
</head>
<body>
    <h2>{{lesson_data.title}} Stats</h2>
    
    <a href="/">Home</a>
    <a href={{"/class?class_id=" + lesson_data.class_id}}>Voltar</a>

</body>
</html>