<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{class_data.name}}</title>
</head>
<body>
    <h2>{{class_data.name}} Stats</h2>
    
    <a href="/">Home</a>
    <a href={{"/class/stats/classId=" + class_data.class_id}}>Estatísticas</a>
    <ul>
      {% for lesson in class_data.lessons %}
        <li><a href={{ "/lesson?lessonId=" + lesson.id }}>{{lesson.name}}</a></li>
      {% endfor %}
    </ul>
    <a href="/">Criar Aula</a>

</body>
</html>