<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classio</title>
</head>
<body>
    <h2>Classio</h2>
    <p>Bem-vindo ao Classio.</p>
    <p>Acesse a página de <a href="/login">Login</a>.</p>
    <p>Acesse a página de <a href="/signup">SignUp</a>.</p>
</body>
</html>