{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.html" %}
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-3">
                        <li class="breadcrumb-item active" aria-current="page">{{ class_data.class_name }}</li>
                    </ol>
                </nav>

                <p>Código da Turma: {{ class_data.class_id }}</p>

                <p>{{ class_data.class_description }}</p>

                <div class="container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3 class="mb-3">Aulas</h3>
                        </div>
                        <div class="col gx-0 text-end">
                            <a href={{"/lesson/create?class_id=" + class_data.class_id}} class="btn btn-primary" role="button">Adicionar</a>
                            <a href={{"/class/enrollments?class_id=" + class_data.class_id}} class="btn btn-primary" role="button">Inscrições</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for lesson in class_data.lessons %}
                        <a class="list-group-item list-group-item-active" 
                           href={{ "/lesson?lesson_id=" + lesson.lesson_id }}
                            >
                           Aula - {{lesson.lesson_title}}
                        </a>
                    {% endfor %}
                </ul>

                <div class="mt-3 mb-2 container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3>Fórum</h3>
                        </div>
                        <div class="col gx-0 text-end">
                            <a href={{"/class/thread/create?class_id=" ~ class_.class_id}} class="btn btn-primary" role="button">Nova Thread</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for thread in class_.threads %}
                        <a class="list-group-item list-group-item-active" 
                           href={{ "/class/thread?thread_id=" ~ thread.thread_id }}
                            >
                           Thread - {{thread.title}}
                        </a>
                    {% endfor %}
                </ul>


                <div class="mt-3 mb-2 container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3>Estatísticas</h3>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <form method="post" action={{"/class/st/create?class_id=" ~ class_.class_id}}>
                                <label class="mb-2 form-label" for="st_title">Faça uma pesquisa</label>
                                <textarea class="mb-3 form-control" required id="st_title" name="st_title"></textarea>
                                <button class="btn btn-primary" type="submit">Pronto</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <ul class="list-group">
                    {% for st_quest in class_.stat_questions %}                        
                        <p>{{st_quest.title}}</p>
                        <span>{{st_quest.get_avg()}}</span>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
