{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="row gx-5 gy-3">

    {% include "sidebar.html" %}

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fs-3">
                    <li class="breadcrumb-item">
                        <a href={{ "/class?class_id=" ~ class_.class_id }}>{{ thread.class_.class_name }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
                </ol>
            </nav>

            <ul class="list-group">
                <li class="mb-1 bg-secondary-subtle list-group-item">
                    <p class="h5 text-muted"><small>{{thread.user.username}}</small></p>
                    <p>{{ thread.description }}</p>
                    <div class="text-end text-primary-emphasis">{{thread.date_created.replace(microsecond=0)}}</div>
                </li>
                </ul>
            <div class="mb-1 bg-secondary-subtle list-group-item">
            </div>
            

            <ul class="list-group">
            {% for response in thread.responses %}
            <li class="mb-1 bg-secondary-subtle list-group-item">
              <p class="h5 text-muted"><small>{{response.user.username}}</small></p>
              <p>{{response.response}}</p>
              <div class="text-end text-primary-emphasis">{{response.date_created.replace(microsecond=0)}}</div>
            </li>
            {% endfor %}
            </ul>

            <div class="card mt-3">
                <div class="card-body">
                    <form method="post" action={{"/class/thread/response?class_id=" ~ class_.class_id ~"&thread_id=" ~ thread.thread_id}}>
                        <label class="mb-2 form-label" for="response">Responder</label>
                        <textarea class="mb-3 form-control" required id="response" name="response"></textarea>
                        <button class="btn btn-primary" type="submit">Responder</button>
                    </form>
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}
