{% extends "base.jinja" %}

{% block head %}
    {{ super() }}
    <style>
        textarea {
            resize: none;
        }
    </style
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.jinja" %}
            
            <div class="col-md-9">
                <div class="container">

                    <h2 class="mb-2">Participar</h2>

                    <p class="lead">Participe de uma disciplina como aluno.</p>

                    <form action="/class/join" id="classJoinForm" method="post">

                        
                        <label class="form-label" for="class_code">Código de Acesso</label>
                        <div class="col-10 col-md-6 mb-4">
                            <input class="form-control" type="text" id="class_code" name="class_code" required>
                        </div>

                        <button class="btn btn-primary" type="submit">Participar</button>
                    </form>

                    <div id="message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p style="color: red;">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
