{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.html" %}
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-3">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href={{ "/class?class_id=" ~ class_data.class_id }}>{{ class_data.class_name }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Inscrições</li>
                    </ol>
                </nav>

                <ul class="list-group">
                  {% for enrollment in enrollments %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ enrollment.student.username }}</div>
                          {{ enrollment.student.email }}
                        </div>
                        <form action={{"/class/kickout?user_id=" ~ enrollment.student.user_id ~ "&class_id=" ~ class_data.class_id}} method="POST" style="margin: 0;">
                          <button type="submit" class="btn btn-danger">Expulsar</button>
                        </form>
                      </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
