{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.html" %}
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-3">
                        <li class="breadcrumb-item active" aria-current="page">{{ class_data.class_name }}</li>
                    </ol>
                </nav>

                <p>{{ class_data.class_description }}</p>

                <div class="container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3>Inscrições</h3>
                        </div>
                        
                    </div>
                </div>
                
                <ul>
                  {%for enrollment in enrollments%}
                    <li> {{enrollment.student.username}}</li>
                    <form action={{"/class/kickout?user_id=" ~ enrollment.student.user_id ~ "&class_id=" ~ class_data.class_id}} method="POST" style="margin: 0;">
                      <button type="submit" 
                              class="btn btn-link list-group-item-action" 
                              style="padding: 0; text-decoration: none;">Expulsar</button>
                    </form>
                  {%endfor%}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
