{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.html" %}
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-3">
                        <li class="breadcrumb-item active" aria-current="page">{{ class_data.class_name }}</li>
                    </ol>
                </nav>

                <p>{{ class_data.class_description }}</p>
                <p>Código de inscrição: {{ class_data.class_id }}</p>

                <div class="container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3>Aulas</h3>
                        </div>
                        <div class="col gx-0 text-end">
                            <a href={{"/lesson/create?class_id=" + class_data.class_id}} class="btn btn-primary" role="button">Adicionar</a>
                        
                            <a href={{"/class/enrollments?class_id=" + class_data.class_id}} class="btn btn-primary" role="button">Inscrições</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for lesson in class_data.lessons %}
                        <a class="list-group-item list-group-item-active" 
                           href={{ "/lesson/edit?lesson_id=" + lesson.lesson_id }}
                            >
                           Aula {{lesson.lesson_title}}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
