{% extends "base.jinja" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.jinja" %}
            <div class="col-md-9">
                <h2>{{ class_data.class_name + " - Professor"}}</h2>
                <p class="lead">{{ class_data.class_description }}</p>

                <div class="container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3>Aulas</h3>
                        </div>
                        <div class="col gx-0 text-end">
                            <a href={{"/lesson/create?class_id=" + class_data.class_id}} class="btn btn-primary" role="button">Adicionar</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for lesson in class_data.lessons %}
                        <a class="list-group-item list-group-item-active" 
                           href={{ "/lesson?lesson_id=" + lesson.lesson_id }}
                            >
                           Aula {{lesson.lesson_title}}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
