{% extends "base.jinja" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            {% include "sidebar.jinja" %}
            <div class="col-md-9">
                <h2>{{ data.class_.class_name }}</h2>
                <p class="lead">{{ data.class_.class_description }}</p>

                <div class="container">
                    <div class="row">
                        <div class="col gx-0">
                            <h3>Aulas</h3>
                        </div>
                        <div class="col gx-0 text-end">
                            <a href={{"/lesson/{}/create".format(data.class_.class_id)}} class="btn btn-primary" role="button">Adicionar</a>
                        </div>
                    </div>
                </div>
                {% if data.lessons %}
                    <ul class="list-group">
                        {% for lesson in data.lessons %}
                            <a class="list-group-item list-group-item-active" href={{ "/lesson?lessonId=" + "lesson.id" }}>{{lesson.title}}</a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Você ainda não tem nenhuma aula.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
