{% extends "base.jinja" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row gx-5 gy-3">

            {% include "sidebar.jinja" %}

            <div class="col-md-9">

                <h2>Minhas Turmas</h2>
                {% if user_data.classes_professor %}
                <ul class="list-group mt-3">
                    {%for class in user_data.classes_professor%}
                        <a href={{"/class?class_id=" + class.class_id}} class="list-group-item list-group-item-action">{{class.class_name}}</a>
                    {%endfor%}
                </ul>
                {% else %}
                    <p class="lead">Você ainda não é professor de nenhuma turma.</p>
                {% endif %}

                <h2 class="mt-3">Minhas Disciplinas</h2>
                {% if user_data.classes_student %}
                <ul class="list-group mt-3">
                    {% for class in user_data.classes_student %}
                        <a href={{"/class?class_id=" + class.class_id}} class="list-group-item list-group-item-action">{{class.class_name}}</a>
                    {% endfor %}
                </ul>
                {% else %}
                    <p class="lead">Você ainda não participa de nenhuma disciplina.</p> 
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
