{% extends "base.jinja" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1 class="mb-4">Classio</h1>
        <p class="lead">Bem-vindo ao Classio!</p>
        <div class="mt-3">
            <a href="/login" class="btn btn-primary mx-2">Entrar</a>
            <a href="/signup" class="btn btn-secondary mx-2">Cadastrar-se</a>
        </div>
    </div>
{% endblock %}
