{% extends "base.jinja" %}

{% block title %}Classio{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row gx-5 gy-3">
            <div class="col-md-3">
                <ul class="list-group">
                    <a href="/class/create" class="list-group-item list-group-item-action">Criar Turma</a>
                    <a href="/user/logout" class="list-group-item list-group-item-action">Logout</a>
                </ul>
            </div>

            <div class="col-md-9">
                <h2>Classio</h2>
                <p>Bem-vindo de volta, {{user_data.username}}!</p>

                <h3 class="mt-3">Minhas Turmas</h3>
                <ul class="list-group mt-3">
                    {%for class in user_data.classes_professor%}
                        <a href={{"/class?class_id=" + class.class_id}} class="list-group-item list-group-item-action">{{class.class_name}}</a>
                    {%endfor%}
                </ul>

                <h3 class="mt-3">Turmas Como Convidado</h3>
                <ul class="list-group mt-3">
                    {%for class in user_data.classes_student%}
                        <a href={{"/class?class_id=" + class.class_id}} class="list-group-item list-group-item-action">{{class.class_name}}</a>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
