{% block sidebar %}
    <div class="col-md-3">
        <ul class="list-group">
            <a href="/home" class="list-group-item list-group-item-action">Início</a>
            <a href="/class/create" class="list-group-item list-group-item-action">Criar</a>
            <a href="/class/join" class="list-group-item list-group-item-action">Participar</a>
            <a href="/user/logout" class="list-group-item list-group-item-action">Sair</a>
        </ul>
    </div>
{% endblock %}
